#nav {
  font-size:20;
  background-color: Black;
  background-size: cover;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: Black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {
  background-image: url('img_Joker.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
