#banner{
  font-size:300%;
  background-color: red;
  text-align: center;
}
#nav {
  font-size:90%;
  background-color: Black;
  background-size: cover;
  display: flex;
  justify-content:space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: Black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body {
  background-image: url('img_Joker1.jpg');
  background-attachment: fixed;  
  background-size: cover;
  
}
li a:hover:not(.active) {
  background-color:#800000;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body {
  background-image: url('img_Joker3.jpg');
  background-attachment: fixed;  
  background-size: cover;
}
body {
  background-image: url('img_Joker4.jpg');
  background-attachment: fixed;  
  background-size: cover;
}
body {
  background-image: url('img_Joker.jpg');
  background-attachment: fixed;  
  background-size: cover;
}
body {
  background-image: url('img_Joker5.jpg');
  background-attachment: fixed;  
  background-size: cover;
}
#link1 {
  background-color: black;
  font color: white;
}
