#sidebar {
  background:blue;
  float:left;
  height:500;
  width:50;
  border:ridge black;
}
#banner {
  height:20%;
  width:100%;
  background:black;
  color:purple;
  font-size:50;
  text-align:center;
}
#nav{
  height:9%;
  width:100%;
  background:Purple;
  font-size:20;
  text-align:center;
  
}
#content{
  text-align:center;
  background:Red;
  height:500;
  border:dotted purple;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

 
 
